[main]
batch_size = 32
output_csv_path = ./results2911.csv
device = cuda:0

[feature_extraction]
# supported datasets: ptc, semeval2024
dataset = semeval2024
# supported language_models: any
language_model = xlm-roberta-base
# supported embedding strategies: cls_token
sentence_embedding_strategy = cls_token

[classification]
# supported models: mlp
classifier_model = mlp

[model_adjust]
adjust_model = False
# supported datasets: prc, semeval2024
datasets = [ptc, semeval2024]
# False or Every X epochs
save_model_locally = False
# False or Every X epochs
push_to_hub = False